#endbtn {
    height: 70px;
    width: 300px;
    background-color: white;
    color: black;
    font-weight: medium;
    font-size: 20px;
    border-radius: 100px;
}

.login-petadoption,.login-gmail{
  width: 600px;
  height: 40px;
}

.select-petadoption,.select-volunteer,.select-staff{
  height: 50px;
  width: 140px;
}

.staff-alert-label {
      border-radius: 0.375rem;
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      font-weight: 600;
      color: #fff;
    }
.staff-quick-btn:hover {
      background-color: #000 !important;
      color: #fff !important;
    }


.adopter-browse-btn {
  background: #000;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  width: 100%;
  transition: 0.3s;
}

.adopter-browse-btn:hover {
  background: #333;
}