#petadoptedbtn {
    height: 100px;
    width: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.staff-view-dashboard-btn {
      background-color: #2e19e6;
    }

.volunteer-schedule-item {
    border: 1px solid #41b883;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
}
.volunteer-schedule-time {
    color: #999;
    font-size: 0.85rem;
}
